<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
<title><%= typeof pageTitle !== "undefined" && pageTitle ? pageTitle + " · MMS" : "MMS" %></title>
<link rel="icon" type="image/png" sizes="32x32" href="<%= sitePath('/favicon-32x32.png') %>?v=<%= assetVersion %>" />
<link rel="icon" type="image/png" sizes="16x16" href="<%= sitePath('/favicon-16x16.png') %>?v=<%= assetVersion %>" />
<link rel="apple-touch-icon" sizes="180x180" href="<%= sitePath('/apple-touch-icon.png') %>?v=<%= assetVersion %>" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700;800&family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
  rel="stylesheet"
/>
<script>window.__SITE_BASE_PATH__ = "<%= typeof siteBasePath !== 'undefined' ? siteBasePath : '' %>";</script>
<script>
(function () {
  var h = location.hostname;
  if ((h === "mmsmetrics.com" || h === "www.mmsmetrics.com") && location.protocol === "http:") {
    location.replace("https://" + location.host + location.pathname + location.search + location.hash);
  }
})();
</script>
<link rel="preload" href="<%= sitePath('/styles.css') %>?v=<%= assetVersion %>" as="style" />
<link rel="stylesheet" href="<%= sitePath('/styles.css') %>?v=<%= assetVersion %>" />
